# =========================
# Node.js
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Python
# =========================
.venv/
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# YOLO / AI
# =========================
runs/
uploads/

# =========================
# Build folders
# =========================
dist/
build/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Operating System
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Temporary files
# =========================
*.tmp
*.temp

# AI Dataset
backend/ai/dataset/

# Trained models (optional)
backend/ai/models/
*.pt

# YOLO Models
*.pt
backend/ai/ai_models/
backend/yolov8n.pt